* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  /* width: 100vw; */
  height: 100vh;
  background: url('/chat-app-home.jpg');
  background-size: cover;
}

.loginForm {
  background-color: rgba(255, 255, 255, 0.42);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.42);
  backdrop-filter: blur(3px);
  padding: 16px;
  border-radius: 12px;
}

.loginTitle {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 18px;
  color: #1d4e7d !important;
  margin-bottom: 20px;
}

.loginText {
  color: #1d4e7d;
  text-decoration: underline;
  cursor: pointer;
}

.forgotPassword {
  text-align: center;
  color: #1d4e7d;
  cursor: pointer;
}

.header {
  background-color: #1d4e7d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff;
}

.logo {
  font-size: 20px;
}



.logout-button {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.logout-button:hover {
  background-color: #ff7875;
  border-color: #ff7875;
}





/* ChatPage.css */

.chat-page-container {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  gap:30px
}

.group-container {
  flex: 2;
  background-color: #79abe4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  border-radius: 10px;
  opacity: 0.9;
}

.chat-container {
  flex: 3;
  background-color: #f0ede6;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  border-radius: 10px;
  opacity: 0.9;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textarea {
  width: 100%;
  margin-bottom: 10px;
}

.button {
  margin-top: 10px;
}

.custom-tab {
  padding: 8px 16px; /* Adjust the padding as needed */
  cursor: pointer;
  border-radius: 4px;
  background-color: #f0f0f0; /* Add a background color if desired */
}

.custom-tab:hover {
  background-color: #d9d9d9; /* Add a different background color on hover if desired */
}

.create-group-container {
  display: flex;
  flex-direction: column;
  background-color: #ff7875;
  padding: 10px;
  border-radius: 10px;
}